<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssview")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*@Styles.Render("~/Content/AnimatedBorderMenuscss")*@
    @Styles.Render("~/Content/SidebarTransitionscss")
</head>
<body>
    <div id="st-container" class="st-container">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AnimatedBorderMenusjs")
    <script src="~/fonts/lte-ie7.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
